@using Microsoft.AspNet.Identity
@inject IMessagesService MessagesService

<!DOCTYPE html>
<html lang="en">
<head>

	@*Importerar en färdig emoji picker*@
	<script type="module"
			src="https://unpkg.com/emoji-picker-element">
	</script>

	<script src="https://unpkg.com/htmx.org@1.9.12" defer></script>


	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - PortfolioProject</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/styleIndex.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/PortfolioProject.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/projects.css" asp-append-version="true" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PortfolioProject</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1 align-items-center">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Hem</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Projects">Projekt</a>
						</li>

						@*
                            Kontrollerar om användaren är inloggad eller inte för att visa olika menyval
                            If-satsen är om man inte är inloggad medans else-satsen är om man är inloggad. 
                        *@
						@if (!User.Identity?.IsAuthenticated ?? false)
						{
							<li class="nav-item ms-auto">
								<a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
									Logga in
									<i class="bi bi-box-arrow-in-right fs-5"></i>
								</a>
							</li>
						}
						else
						{
							<li class="nav-item ms-auto">
								<a class="nav-link text-dark" asp-controller="Message" asp-action="Index">
									Meddelanden
									<i class="bi bi-chat-dots fs-5 icon-with-badge">
										@{
											int unread = 0;
											var userId = User.Identity?.GetUserId();
											unread = await MessagesService.GetTotalUnreadAsync(userId!);

											if (unread > 0)
											{
												string n = (unread > 99) ? "99+" : $"{unread}";
												<span id="totalUnread" class="notification-dot">@n</span>
											}
										}									
									</i>

								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link text-dark" asp-controller="Profile" asp-action="Index">
									Profil
									<i class="bi bi-person-circle fs-5"></i>
								</a>
							</li>

							<li class="nav-item">
								<form asp-controller="Account" asp-action="Logout" method="post" class="d-inline m-0 p-0">
									<button class="nav-link btn btn-link text-dark d-flex align-items-center gap-1" type="submit">
										Logga ut
										<i class="bi bi-box-arrow-right fs-5 text-danger"></i>
									</button>
								</form>
							</li>

						}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer bg-white text-dark text-center py-1">
		<div class="container small">
			&copy; 2025 - PortfolioProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
