@model InboxViewModel

<script src="/js/messages.js" defer></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="/css/messages.css" />
<link rel="stylesheet" href="/css/messagesIndex.css" />

<div class="messaging-page @(Model.Conversation is null ? "is-list" : "is-thread")">
	<aside class="thread-list">
		<partial name="_ConversationList" model="Model.ConversationList" />
	</aside>

	<main class="thread-view" id="threadView">
		@if (Model.Conversation is null)
		{
			<partial name="_ConversationThreadEmpty" />
		}
		else
		{
			<partial name="_ConversationThread" model="Model.Conversation" />
		}
	</main>
</div>


