<h2>Denna profil är låst och visas enbart för inloggade användare.</h2>

<form asp-controller="Account" asp-action="Login" method="get">
	<button type="submit" class="btn btn-primary">Logga in</button>
</form>

<form asp-controller="Account" asp-action="Register" method="get">
	<button type="submit" class="btn btn-secondary">Registrera</button>
</form>
