@model ProjectViewModel

<section class="search-section text-center my-2">
	<h3>Skapa nytt projekt</h3>
	<a asp-controller="Project" asp-action="Projects" class="text-black" style="text-decoration: none">Tillbaka</a>
</section>

<section class="container mt-4">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<form method="post" asp-action="Create">
				<div class="mb-3">
					<div class="d-flex align-items-center gap-2">
						<label class="form-label mb-2 me-2">Titel: </label>
						<span asp-validation-for="Project.Title" class="text-danger mb-2"></span>
					</div>
					<input asp-for="Project.Title" class="form-control" />
				</div>
				<div class="mb-3">
					<div class="d-flex align-items-center gap-2">
						<label class="form-label mb-2 me-2">Beskrivning: </label>
						<span asp-validation-for="Project.Description" class="text-danger mb-2"></span>
					</div>
					<textarea asp-for="Project.Description" class="form-control" rows="5" style="resize: none;"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Skapa</button>
			</form>
		</div>
	</div>	
</section>

