@model IEnumerable<Cv>

@{
    var cvs = Model.ToList();
    int itemsPerSlide = 5;
    int slideCount = (int)Math.Ceiling((double)cvs.Count / itemsPerSlide);
}

@if (!cvs.Any())
{
    <div class="carousel-item active">
        <div class="text-center py-5">
            <h5>Inga CVn hittades!</h5>
        </div>
    </div>
}
else
{
    @for (int i = 0; i < slideCount; i++)
    {
        var slideCvs = cvs.Skip(i * itemsPerSlide).Take(itemsPerSlide);

        <div class="carousel-item @(i == 0 ? "active" : "")">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
                @await Html.PartialAsync("CvCards", slideCvs)
            </div>
        </div>
    }
}
