
@model HomeViewModel

@if(User.Identity?.IsAuthenticated ?? false)
{
    <div>
        <h2 class="display-4">Hej, @User.Identity.Name!</h2>
    </div>
}
else
{
    <div>
        <h2>Välkommen gäst!</h2>
    </div>
}

<h3>Utforska cvn:</h3>

@foreach(var cv in Model.Cvs)
{
    //projectcard
    <div>
        <h3>@cv.User.FirstName</h3>
    </div>
}
