

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post" asp-controller="Account" asp-action="LogOut">
    <AuthorizeView>
        <Authorized>
            <h2>Hello, @User.Identity.Name!</h2>
            <input type="submit" value="Logga Ut" />
        </Authorized>
        <NotAuthorized>
            <h2>Welcome, guest! Please log in or register.</h2>
        </NotAuthorized>
    </AuthorizeView>
</form>

