.container {
    max-width: 100% !important;
}

.messaging-page {
    display: flex;
    gap: 1rem;
}

.thread-list {
    flex: 0 0 auto; /* do NOT grow or shrink */
}


.thread-view {
    flex: 1;
    min-width: 0;
}


/*Gör att endast en av dem 2 olika partials syns åt gången.*/
@media (max-width: 768px) {
    .messaging-page.is-list .thread-view {
        display: none;
    }

    .messaging-page.is-thread .thread-list {
        display: none;
    }
}


