body {
    margin: 0;
}

.profile-info {
    display: flex;
    flex-direction: column;

    margin: 1rem;
    padding: 1rem 2rem;

    border: 2px solid black;
    border-radius: 5px;
}

.label-w-text {
    display: flex;
    flex-direction: row;

    gap: 1rem;
}

.label-w-checkbox {
    display: flex;
    flex-direction: row;

    gap: 1rem;
}


