

.search-section {
    border-radius: 1rem;
    background-color:rgb(239, 239, 239);
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}
.cv-section {
    min-height: 300px;
}
.cv-card {
    margin: 0;
    padding: 0;
    opacity:1;
}


.cv-card-inner {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.cv-card:hover .cv-card-inner {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.cv-card-body {
    font-size: 0.5rem;
    font-size: 0.5rem;
    line-height: 1.3;
    padding: 1rem;
    max-height: 200px;
    min-height: 200px;
    background-color: rgb(239, 239, 239);
}

    .cv-card-body p {
        margin: 0.5rem;
    }

.profile-img {
    border-radius: 50%;
    background-color: white;
    border: 2px solid lightgrey;
}

    .profile-img img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: contain;
    }

.cv-section .carousel {
    padding: 0 40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

#cvCarousel {
    position: relative;
}

.carousel-control-prev,
.carousel-control-next {
    display:none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    opacity: 1;
}

.carousel-control-prev {
    left: -40px;
}

.carousel-control-next {
    right: -40px;
}

.project-section{
    display:block;
}

.project-card {
    margin: 0.5rem;
    padding: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    width:30%;
}


@media (max-width: 576px) {
    .cv-card{
        margin:0.5rem;
    }

    .cv-card p{
        font-size: 0.8rem;
    }
    
    .cv-section{
        padding:2rem;
    }


}