section{
}

.search-section {
    border-radius: 1rem;
    background-color:rgb(239, 239, 239);
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.cv-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    margin: 0;
    padding: 0;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

    .cv-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 12px 30px rgba(0,0,0,0.08);
    }

.cv-card-body {
    font-size: 0.5rem;
    font-size: 0.5rem;
    line-height: 1.3;
    background-color: rgba(173, 216, 230, 0.6);
    padding: 1rem;
    max-height: 200px;
    min-height: 200px;
}

    .cv-card-body p {
        margin: 0.5rem;
    }

.profile-img {
    border-radius: 50%;
    background-color: white;
    border: 2px solid lightgrey;
}

    .profile-img img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: contain;
    }
