@model CvProfileViewModel

@{
    ViewData["Title"] = "Skapa cv";
}

<script defer src="~/js/skillPlaques.js"></script>
<script defer src="~/js/educationPlaques.js"></script>
<script defer src="~/js/experiencePlaques.js"></script>

<link href="/css/profile.css" rel="stylesheet">

<form asp-action="CreateCv" method="post">
    <h1>Skapa ditt CV</h1>

    <section class="profile-grid" id="profile-grid">    
        <p class="section-header">Allmän information</p>

        <div class="form-row">
            <label asp-for="Title">Title:</label>
            <div class="input-wrapper">
                <input asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <label asp-for="Summary">Sammanfattning:</label>
            <div class="input-wrapper">
                <textarea asp-for="Summary" id="cv-summary" name="summary" rows="5" cols="50"></textarea>
            </div>
        </div>

        <div class="form-row">
            <label asp-for="GitHubUrl">Github URL:</label>
            <div class="input-wrapper">
                <input asp-for="GitHubUrl" />
            </div>
        </div>

        <div class="form-row">
            <label asp-for="LinkedInUrl">LinkedIn URL:</label>
            <div class="input-wrapper">
                <input asp-for="LinkedInUrl" />
            </div>
        </div>

        <hr>

        <!-- ----------SKILLS---------- -->

        <section class="skill-section">
            <p class="section-header">Färdigheter</p>

            <div class="form-row">
                <label>Färdighet:</label>
                <div class="input-wrapper">
                    <input class="input-skill-name" type="text"/>
                    <span class="error-text" id="skill-name-error"></span>
                </div>
            </div>

            <div class="skill-plaque-section">

            </div>
            <div class="button-wrapper" data-mode="edit">
                <button type="button" class="btn-add-skill" disabled>Lägg till</button>
            </div>
        </section>

        <hr>

        <!-- ----------EDUCATION---------- -->

        <section class="education-section">
            <p class="section-header">Utbildning</p>
            <div class="form-row">
                <label>Skola:</label>
                <div class="input-wrapper">
                    <input class="school-input" type="text" />
                    <span class="error-text" id="school-error"></span>
                </div>
            </div>

            <div class="form-row">
                <label>Utbildning:</label>
                <div class="input-wrapper">
                    <input class="degree-input" type="text" />
                    <span class="error-text" id="degree-error"></span>
                </div>
            </div>

            <div class="form-row">
                <label>Från År:</label>
                <div class="input-wrapper">
                    <input class="from-year-education-input" type="date"/>
                    <span class="error-text" id="education-year-error"></span>
                </div>
            </div>

            <div class="form-row">
                <label>Till År:</label>
                <div class="input-wrapper">
                    <input class="to-year-education-input" type="date"/>
                </div>
            </div>

            <div class="education-plaque-section">

            </div>

            <div class="button-wrapper" data-mode="edit">
                <button type="button" class="btn-add-education" disabled>Lägg till</button>
            </div>
        </section>
        <hr>

        <!-- ----------EXPERIENCES---------- -->

        <section class="experience-section">
            <p class="section-header">Erfarenheter</p>
            <div class="form-row">
                <label>Företag:</label>
                <div class="input-wrapper">
                    <input class="company-input" type="text" />
                    <span class="error-text" id="company-error"></span>
                </div>
            </div>

            <div class="form-row">
                <label>Roll:</label>
                <div class="input-wrapper">
                    <input class="role-input" type="text" />
                    <span class="error-text" id="role-error"></span>
                </div>
            </div>

            <div class="form-row">
                <label>Från År:</label>
                <div class="input-wrapper">
                    <input class="from-year-experience-input" type="date" placeholder="yyyy-mm-dd" />
                    <span class="error-text" id="experience-year-error"></span>
                </div>
            </div>

            <div class="form-row">
                <label>Till År:</label>
                <div class="input-wrapper">
                    <input class="to-year-experience-input" type="date" placeholder="yyyy-mm-dd" />
                </div>
            </div>

            <div class="experience-plaque-section">
            </div>
            <div class="button-wrapper" data-mode="edit">
                <button type="button" class="btn-add-experience" disabled>Lägg till</button>
            </div>
        </section>

        <hr>

        <div class="button-wrapper">
            <button id="save-cv-btn" type="submit" class="btn btn-primary">Spara</button>
        </div>
    </section>
</form>