@model CvProfileViewModel

<script defer src="~/js/skillPlaques.js"></script>
<script defer src="~/js/educationPlaques.js"></script>
<script defer src="~/js/experiencePlaques.js"></script>

<link href="/css/profile.css" rel="stylesheet">

<form asp-action="CreateCv" method="post">
    <h1>Skapa ditt CV</h1>

    <section class="profile-grid" id="profile-grid">    
        <p class="section-header">Allmän information</p>

        <div class="form-row">
            <label asp-for="Title">Title:</label>
            <div class="input-wrapper">
                <input asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <label asp-for="Summary">Sammanfattning:</label>
            <div class="input-wrapper">
                <textarea asp-for="Summary" id="cv-summary" name="summary" rows="5" cols="50"></textarea>
            </div>
        </div>

        <div class="form-row">
            <label asp-for="GitHubUrl">Github URL:</label>
            <div class="input-wrapper">
                <input asp-for="GitHubUrl" />
            </div>
        </div>

        <div class="form-row">
            <label asp-for="LinkedInUrl">LinkedIn URL:</label>
            <div class="input-wrapper">
                <input asp-for="LinkedInUrl" />
            </div>
        </div>

        <hr>

        <!-- ----------SKILLS---------- -->

        <p class="section-header">Färdigheter</p>

        <div class="form-row">
            <label>Färdighet:</label>
            <div class="input-wrapper">
                <input class="text-input" id="input-skill-name" type="text"/>
                <span class="error-text" id="skill-name-error"></span>
            </div>
        </div>

        <div class="form-row">
            <label>URL:</label>
            <div class="input-wrapper">
                <input class="text-input" id="skill-img-url" type="text" title="Bild-URL" />
                <span class="error-text"></span>
            </div>
        </div>

        <section class="cv-editor" data-mode="edit">
            <button class="btn-add-skill" disabled>Lägg till</button>
        </section>

        <div id ="skill-plaque-section">

        </div>

        <hr>

        <!-- ----------EDUCATION---------- -->

        <p class="section-header">Utbildning</p>

        <div class="form-row">
            <label>Skola:</label>
            <div class="input-wrapper">
                <input class="text-input" id="school-input" type="text" />
                <span class="error-text" id="school-error"></span>
            </div>
        </div>

        <div class="form-row">
            <label>Utbildning:</label>
            <div class="input-wrapper">
                <input class="text-input" id="degree-input" type="text" />
                <span class="error-text" id="degree-error"></span>
            </div>
        </div>

        <div class="form-row">
            <label>Från År:</label>
            <div class="input-wrapper">
                <input class="text-input" id="from-year-education-input" type="date"/>
                <span class="error-text" id="education-year-error"></span>
            </div>
        </div>

        <div class="form-row">
            <label>Till År:</label>
            <div class="input-wrapper">
                <input class="text-input" id="to-year-education-input" type="date"/>
            </div>
        </div>

        <section class="cv-editor" data-mode="edit">
            <button class="btn-add-education" disabled>Lägg till</button>
        </section>

        <div id="education-plaque-section" class="plaque-section">

        </div>

        <hr>

        <!-- ----------EXPERIENCES---------- -->

        <p class="section-header">Erfarenheter</p>

        <div class="form-row">
            <label>Företag:</label>
            <div class="input-wrapper">
                <input class="text-input" id="company-input" type="text" />
                <span class="error-text" id="company-error"></span>
            </div>
        </div>

        <div class="form-row">
            <label>Roll:</label>
            <div class="input-wrapper">
                <input class="text-input" id="role-input" type="text" />
                <span class="error-text" id="role-error"></span>
            </div>
        </div>

        <div class="form-row">
            <label>Från År:</label>
            <div class="input-wrapper">
                <input class="text-input" id="from-year-experience-input" type="text" placeholder="yyyy-mm-dd" />
                <span class="error-text" id="experience-year-error"></span>
            </div>
        </div>

        <div class="form-row">
            <label>Till År:</label>
            <div class="input-wrapper">
                <input class="text-input" id="to-year-experience-input" type="text" placeholder="yyyy-mm-dd" />
            </div>
        </div>

        <section class="cv-editor" data-mode="edit">
            <button class="btn-add-experience" disabled>Lägg till</button>
        </section>

        <div id="experience-plaque-section" class="plaque-section">
        </div>

        <hr>

        <button id="save-cv-btn" type="submit" class="btn btn-primary">Spara</button>

    </section>
</form>