@using DataLayer.Models.ViewModels
@model UserViewModel

<link href="/css/profile.css" rel="stylesheet">
<script defer src="/js/togglePwSection.js"></script>

<h1>Min Profil</h1>

<form asp-action="Edit" method="post">
    <section class="profile-grid" id="profile-grid">

        <div class="form-row">
            <label asp-for="FirstName">*Förnamn:</label>
            <div class="input-wrapper">
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <label asp-for="LastName">*Efternamn:</label>
            <div class="input-wrapper">
                <input asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <label asp-for="Email">*Email:</label>
            <div class="input-wrapper">
                <input asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <label asp-for="PhoneNumber">Telefonnummer:</label>
            <div class="input-wrapper">
                <input asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <label asp-for="Adress">Adress:</label>
            <div class="input-wrapper">
                <input asp-for="Adress" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="checkbox-row">
                <label asp-for="IsPrivate">Privat profil:</label>
                <input type="checkbox" asp-for="IsPrivate" />
            </div>
        </div>

    </section>

    <!-- Password section -->
    <section id="pw-section" class="password-container">
        <div class="form-row">
            <label asp-for="NewPassword">Nytt Lösenord:</label>
            <div class="input-wrapper">
                <input type="password" asp-for="NewPassword" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <label asp-for="ConfirmPassword">Ange Igen:</label>
            <div class="input-wrapper">
                <input type="password" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="button-wrapper">
            <button type="submit" class="btn btn-primary">Spara lösenord</button>
        </div>
    </section>

    <!-- BUTTONS -->

    <div class="button-wrapper" id="profile-buttons">
        <button type="button" id="change-pw-btn" class="btn btn-primary">Ändra Lösenord</button>
        <button type="submit" class="btn btn-primary">Spara profil</button>
        <a asp-action="Index" class="btn btn-secondary">Tillbaka</a>
    </div>
</form>
