@model UpdatePasswordViewModel

<form asp-action="UpdatePassword" method="post">
    <!-- Password section -->
    <section id="pw-section" class="password-container">
        <div class="form-row">
            <label asp-for="ConfirmPassword">Ange Nuvarande Lösenord:</label>
            <div class="input-wrapper">
                <input type="password" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <label asp-for="NewPassword">Nytt Lösenord:</label>
            <div class="input-wrapper">
                <input type="password" asp-for="NewPassword" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <label asp-for="ConfirmPassword">Ange Igen:</label>
            <div class="input-wrapper">
                <input type="password" asp-for="ConfirmNewPassword" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="button-wrapper">
            <button type="submit" class="btn btn-primary">Spara lösenord</button>
        </div>
    </section>
</form>